@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #777;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer components {
  .container-wrapper {
    @apply flex min-h-screen items-center justify-center font-sans bg-background;
  }

  .container-layout {
    @apply max-w-5xl mx-auto px-4 md:px-5 py-4 bg-background;
  }

  .main-container-layout {
    @apply flex flex-col min-h-screen w-full py-8;
  }

  .logo {
    @apply text-lg uppercase font-black;
  }

  .link {
    @apply outline-none text-(--primary-color);
  }

  .nav-link {
    @apply capitalize text-sm font-medium text-gray-500;

    &.active {
      @apply text-white;
    }
  }

  .section-title {
    @apply font-bold text-sm md:text-lg uppercase;
  }

  .footer-text {
    @apply text-sm;
  }

  .legendary-card {
    @apply relative min-h-64 p-4 text-white transition-all duration-300 ease-out bg-transparent hover:bg-white/10 hover:shadow-lg;
  }

  .legendary-card-divider {
    @apply my-3 w-full h-px bg-transparent group-hover:bg-blue-400 transition-colors duration-200;
  }

  .btn-view {
    @apply w-full border border-blue-400 text-blue-400 p-2 my-4 cursor-pointer transition-colors duration-300 ease-out hover:bg-blue-400 hover:text-white;
  }
}
