@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #777;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container-layout {
    @apply max-w-5xl mx-auto px-4 md:px-5 py-4;
  }

  .logo {
    @apply text-lg uppercase font-black;
  }

  .link {
    @apply outline-none text-[var(--primary-color)];
  }

  .nav-link {
    @apply capitalize text-sm font-medium text-gray-500;

    &.active {
      @apply text-white;
    }
  }

  .section-title {
    @apply font-bold text-lg my-4 uppercase;
  }

  .footer-text {
    @apply text-sm;
  }
}
